*.out
*.log
TrainedModels_*
.ipynb_checkpoints/
__pycache__/
.spyproject
dedalus/run*
dedalus/frames*
dedalus/scripts
dedalus/perfo/*.pdf
dedalus/*.pdf
events*
*.pt
*.txt
*.h5
results/
dedalus/plots/
dedalus/scripts
*.ipynb
*.jpg
*.png
scripts/*.pdf
scripts/*/*.pdf
scripts/config_*.yaml
scripts/runAll.sh
scripts/sdcRun*
scratch.py
launch_scripts/*.sh
env